@mixin fill-parent {
  height: 100%;
  width: 100%;
}

@mixin abs-start {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
